@import '../../../../node_modules/nib';

translationDuration = 400ms
translationDelay = 100ms

.ti-full-screen-icon
  padding 5px
  cursor pointer
  border-radius 3px
  border 1px #ccc solid
  opacity 1
  transition opacity translationDuration ease-out

.ti-full-screen-icon:hover
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.02)

.ti-full-screen-backdrop
  background rgba(0, 0, 0, 0)
  color #fff
  position fixed
  padding 10px
  transition all translationDuration ease-out translationDelay
  z-index 100

  .ti-full-screen-heading
  .ti-full-screen-remove-icon
    opacity 0
    transition all translationDuration ease-out

  .ti-full-screen-heading
    margin-top 10px

  .ti-full-screen-remove-icon
    margin-top 5px
    font-size 20px

.ti-full-screen-backdrop.full-screen
  background rgba(0, 0, 0, 0.7)
  top 0 !important
  right 0 !important
  bottom 0 !important
  left 0 !important

  .ti-full-screen-heading
  .ti-full-screen-remove-icon
    opacity 1

  .ti-full-screen-remove-icon .glyphicon
    cursor pointer

.ti-full-screen-anchor
  position relative
  transition all translationDuration ease-out translationDelay

.ti-full-screen-anchor.floating
  top 60px !important
  right 10px !important
  bottom 10px !important
  left 10px !important
  max-width 100% !important
  max-height 100% !important

  .ti-full-screen-replacing-template
    z-index 1

.ti-full-screen-anchor.free-width
  width auto !important
  height auto !important

.ti-full-screen-imitated-element
  position relative

.ti-full-screen-replaced-element
  opacity 1
  transition opacity 300ms ease-out

  &.fade-out
    opacity 0

.ti-full-screen-replacing-template
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index -1