.app-container {
  max-width: 96rem;
  margin: 0 auto;
}
.dashed-line {
  margin: 0;
  border-top: 1px dashed rgba(0,0,0,0.25);
  border-bottom: 1px dashed rgba(255,255,255,0.25);
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 0;
  background-color: transparent;
}
.top.dashed-line {
  top: 1rem;
}
.bottom.dashed-line {
  bottom: 1rem;
}
.app-main,
.app-footer {
  position: relative;
  padding: 3rem 0;
}
.app-header {
  background: #e68966 url("../images/grain.png");
  -webkit-box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
  height: 13rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}
.app-header .app-navbar {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.app-header .app-navbar .menu-item {
  float: left;
  width: 20%;
  padding: 4rem 0 4.7rem;
  font-family: bazar;
  font-size: 2.7rem;
  text-transform: uppercase;
}
.app-header .app-navbar .menu-item .link {
  color: #f6edd8;
  display: inline-block;
  margin-top: 0.5rem;
  -webkit-transition: margin-top 0.2s ease;
  -moz-transition: margin-top 0.2s ease;
  -o-transition: margin-top 0.2s ease;
  -ms-transition: margin-top 0.2s ease;
  transition: margin-top 0.2s ease;
  text-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.2);
}
.app-header .app-navbar .menu-item .link:hover {
  margin-top: 0;
  text-decoration: none;
}
.app-header .app-navbar .app-logo {
  float: left;
  width: 20%;
  height: 13rem;
  position: relative;
  z-index: 99;
}
.app-header .app-navbar .app-logo .logo {
  margin-top: -3rem;
  -webkit-transition: margin-top 0.2s ease;
  -moz-transition: margin-top 0.2s ease;
  -o-transition: margin-top 0.2s ease;
  -ms-transition: margin-top 0.2s ease;
  transition: margin-top 0.2s ease;
}
.app-header .app-navbar .app-logo .logo:hover {
  margin-top: 0;
}
.app-main {
  z-index: 1;
  height: 100rem;
  margin-top: 13rem;
  background: #e6e1d0 url("../images/grain.png");
}
.app-footer {
  background: #4c5057 url("../images/grain.png");
  color: #ddd;
}
