.tree-main-frame {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  outline: none;
}
.tree-main-frame .repeat-wrapper {
  overflow-y: auto;
}
.tree-main-frame .repeat-node:hover .node-wrapper {
  background: #ddd;
  cursor: pointer;
}
.tree-main-frame .repeat-node:hover .node-wrapper.selected {
  background: #bfddfb;
}
.tree-main-frame .node-wrapper {
  height: 3rem;
  line-height: 3rem;
  white-space: nowrap;
}
.tree-main-frame .node-wrapper.selected {
  background: #bfddfb;
}
.tree-main-frame .node-wrapper .node-frame {
  margin-left: 10px;
  margin-right: 10px;
}
.tree-main-frame .node-wrapper .node-frame .node-content.disabled {
  color: #999;
  cursor: default;
}
.tree-main-frame .node-wrapper .node-frame .node-toggle {
  cursor: pointer;
  position: relative;
  top: 1px;
  min-width: 0.6rem;
  display: inline-block;
}
.tree-main-frame .node-wrapper .node-frame .icon-wrapper {
  padding: 0.2rem 0;
}
.tree-main-frame .node-wrapper .node-frame .icon-wrapper:hover .node-caret {
  border-left-color: #3bafda !important;
}
.tree-main-frame .node-wrapper .node-frame .icon-wrapper:hover .node-caret::after {
  border-left-color: #b2ebff !important;
}
.tree-main-frame .node-wrapper .node-frame .node-caret {
  position: relative;
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 6px transparent solid;
  border-right: 0;
  border-bottom: 6px transparent solid;
  border-left: 6px #8e8e8e solid;
}
.tree-main-frame .node-wrapper .node-frame .node-caret::after {
  content: '';
  position: absolute;
  left: -5px;
  top: -4px;
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 4px transparent solid;
  border-right: 0;
  border-bottom: 4px transparent solid;
  border-left: 4px solid;
}
.tree-main-frame .node-wrapper .node-frame .node-caret.expanded {
  transform: rotate(45deg);
}
.tree-main-frame .node-wrapper .node-frame .node-caret.expanded::after {
  border-left-color: #282829;
}
.tree-main-frame .node-wrapper .node-frame .node-caret.collapsed::after {
  border-left-color: #fff;
}
.tree-main-frame .node-wrapper .node-frame .highlighted {
  background-color: #ff0;
}
