icon-size = 4
addUnit(num)
  (num) px

.tree-main-frame
  position relative
  overflow-y hidden
  overflow-x auto
  outline none

  .repeat-wrapper
    overflow-y auto

  .repeat-node:hover

    .node-wrapper
      background #ddd
      cursor pointer

    .node-wrapper.selected
      background #bfddfb

  .node-wrapper
    height 3rem
    line-height 3rem
    white-space nowrap

    &.selected
      background #bfddfb

    .node-frame
      margin-left 10px
      margin-right 10px

      .node-content
        &.disabled
          color #999
          cursor default

      .node-toggle
        cursor pointer
        position relative
        top 1px
        min-width 0.6rem
        display inline-block

      .icon-wrapper
        padding 0.2rem 0

        &:hover
          .node-caret
            border-left-color #3bafda !important

            &::after
              border-left-color #b2ebff !important

      .node-caret
        position relative
        display inline-block
        height 0
        width 0
        border-top addUnit(icon-size + 2) transparent solid
        border-right 0
        border-bottom addUnit(icon-size + 2) transparent solid
        border-left addUnit(icon-size + 2) #8e8e8e solid

        &::after
          content ''
          position absolute
          left addUnit((- icon-size) - 1)
          top addUnit(- icon-size)
          width 0
          height 0
          display inline-block
          border-top addUnit(icon-size) transparent solid
          border-right 0
          border-bottom addUnit(icon-size) transparent solid
          border-left addUnit(icon-size) solid

        &.expanded
          transform rotate(45deg)

          &::after
            border-left-color #282829

        &.collapsed
          &::after
            border-left-color #fff

      .highlighted
        background-color #ffff00
