@font-face {
  font-family: 'Bazar';
  src: url("fonts/Bazar.woff") format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  src: /* IE9 Compat Modes */ url("fonts/Roboto-Slab.eot"), /* IE6-IE8 */ url("fonts/Roboto-Slab.eot?#iefix") format('embedded-opentype'), /* Safari, Android, iOS */ url("fonts/Roboto-Slab.ttf") format('truetype'), /* Legacy iOS */ url("fonts/Roboto-Slab.svg#roboto_slabregular") format('svg'), /* Modern Browsers */ url("fonts/Roboto-Slab.woff") format('woff');
}
@font-face {
  font-family: 'Roboto Slab Bold';
  src: /* IE9 Compat Modes */ url("fonts/Roboto-Slab-Bold.eot"), /* IE6-IE8 */ url("fonts/Roboto-Slab-Bold.eot?#iefix") format('embedded-opentype'), /* Safari, Android, iOS */ url("fonts/Roboto-Slab-Bold.ttf") format('truetype'), /* Legacy iOS */ url("fonts/Roboto-Slab-Bold.svg#roboto_slabbold") format('svg'), /* Modern Browsers */ url("fonts/Roboto-Slab-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Oswald';
  src: /* IE9 Compat Modes */ url("fonts/Oswald-Latin.eot"), /* IE6-IE8 */ url("fonts/Oswald-Latin.eot?#iefix") format('embedded-opentype'), /* Safari, Android, iOS */ url("fonts/Oswald-Latin.ttf") format('truetype'), /* Legacy iOS */ url("fonts/Oswald-Latin.svg#Oswald") format('svg'), /* Modern Browsers */ url("fonts/Oswald-Latin.woff") format('woff'), /* Super Modern Browsers */ url("fonts/Oswald-Latin.woff2") format('woff2');
}
@font-face {
  font-family: 'Oswald Bold';
  src: /* Super Modern Browsers */ url("fonts/Oswald-Latin-Bold.woff2") format('woff2');
}
html,
body,
.rhytheme-app {
  height: 100%;
}
body {
  color: #383a3c;
  font-family: 'Roboto Slab';
}
.rhytheme-app {
  padding-top: 100px;
  padding-bottom: 56px;
}
.app-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.dashed-line {
  margin: 0;
  border-top: 1px dashed rgba(0,0,0,0.25);
  border-bottom: 1px dashed rgba(255,255,255,0.25);
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 0;
  background-color: transparent;
}
.top.dashed-line {
  top: 10px;
}
.bottom.dashed-line {
  bottom: 10px;
}
.app-header {
  background: #e49679 url("images/grain.png");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 88;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.app-header .app-container {
  height: 100px;
  background: #e68966 url("images/grain.png");
}
.app-header .app-navbar {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
/*todo-add some movements to triple dots*/
}
.app-header .app-navbar .menu-item {
  float: left;
  width: 20%;
  padding: 30px 0;
  font-family: 'Bazar';
  font-size: 27px;
  text-transform: uppercase;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.app-header .app-navbar .menu-item .link {
  color: #f6edd8;
  display: inline-block;
  margin-top: 2px;
  position: relative;
  -webkit-transition: margin-top 0.2s ease;
  -moz-transition: margin-top 0.2s ease;
  -o-transition: margin-top 0.2s ease;
  -ms-transition: margin-top 0.2s ease;
  transition: margin-top 0.2s ease;
  text-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.app-header .app-navbar .menu-item .link:hover {
  margin-top: 0;
  text-decoration: none;
}
.app-header .app-navbar .menu-item .link:focus {
  text-decoration: none;
}
.app-header .app-navbar .menu-item .link.active:before,
.app-header .app-navbar .menu-item .link.active:after {
  content: '.';
  position: absolute;
  top: -15px;
}
.app-header .app-navbar .menu-item .link.active:before {
  left: -10px;
}
.app-header .app-navbar .menu-item .link.active:after {
  right: -10px;
}
.app-header .app-navbar .app-logo {
  float: left;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100px;
  position: relative;
  z-index: 89;
}
.app-header .app-navbar .app-logo .logo {
  margin-top: -20px;
  -webkit-transition: margin-top 0.2s ease;
  -moz-transition: margin-top 0.2s ease;
  -o-transition: margin-top 0.2s ease;
  -ms-transition: margin-top 0.2s ease;
  transition: margin-top 0.2s ease;
}
.app-header .app-navbar .app-logo .logo:hover {
  margin-top: 0;
}
.app-main {
  position: relative;
  min-height: 100%;
  background: #f7f3e5 url("images/grain.png");
}
.app-main .app-container {
  background: #e6e1d0 url("images/grain.png");
}
.app-footer {
  background: #4c5057 url("images/grain.png");
  color: #f6edd8;
  z-index: 2;
  text-align: center;
  position: relative;
  padding: 24px 0;
}
.app-footer .link {
  color: #f6edd8;
}
.app-footer .link:hover {
  text-decoration: underline dotted;
}
.section-heading {
  padding-bottom: 16px;
}
.section-heading .section-title {
  font-size: 90px;
  font-family: 'Bazar';
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
  padding-top: 16px;
  margin-top: 0;
  margin-bottom: 6px;
}
.section-heading .section-subtitle {
  text-align: center;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 16px;
}
.section-heading .section-separator {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}
.section-heading .section-separator .solid-line {
  position: relative;
  display: inline-block;
  width: 45px;
}
.section-heading .section-separator .solid-line:before,
.section-heading .section-separator .solid-line:after {
  content: '';
  width: 45px;
  position: absolute;
  top: 11px;
  border-bottom: 2px #383a3c solid;
}
.section-heading .section-separator .solid-line:before {
  right: 100%;
  margin-right: 5px;
}
.section-heading .section-separator .solid-line:after {
  left: 100%;
  margin-left: 5px;
}
.section-portfolio .portfolio-filter {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 24px;
  margin-bottom: 6px;
}
.section-portfolio .portfolio-filter .filter-label {
  margin-right: 8px;
  font-size: 16px;
}
.section-portfolio .portfolio-filter .filter-tag-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  list-style: none;
}
.section-portfolio .portfolio-filter .filter-tag-container .filter-tag {
  display: inline-block;
  position: relative;
  color: #383a3c;
  cursor: pointer;
  font-family: 'Roboto Slab Bold';
  font-size: 12px;
  line-height: 16px;
  background: #fcfaf7;
  padding: 4px 8px;
  margin-left: 12px;
  margin-right: 9px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.section-portfolio .portfolio-filter .filter-tag-container .filter-tag:before,
.section-portfolio .portfolio-filter .filter-tag-container .filter-tag:after {
  content: '';
}
.section-portfolio .portfolio-filter .filter-tag-container .filter-tag:before {
  position: absolute;
  top: 0;
  right: 100%;
  border-color: transparent #fcfaf7 transparent transparent;
  border-width: 12px 12px 12px 0;
  border-style: solid;
}
.section-portfolio .portfolio-filter .filter-tag-container .filter-tag:after {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 10px;
  left: 0;
  border-radius: 50%;
  background: #959ca3;
}
.section-portfolio .portfolio-list {
  margin: 0 -10px 16px;
}
.section-portfolio .portfolio-list .portfolio-item {
  padding: 0 10px;
  margin-bottom: 20px;
}
.section-portfolio .portfolio-list .portfolio-item .full-screen-wrapper {
  z-index: 1;
}
.section-portfolio .portfolio-list .portfolio-item .portfolio-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.section-portfolio .portfolio-list .portfolio-item .item-content {
  z-index: initial;
  display: block;
  position: relative;
  background: #fcfaf7;
  color: #383a3c;
  border: 4px transparent solid;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.section-portfolio .portfolio-list .portfolio-item .item-content:before,
.section-portfolio .portfolio-list .portfolio-item .item-content:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 12px;
  width: 50%;
  height: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 5px rgba(0,0,0,0.25);
  box-shadow: 0 15px 5px rgba(0,0,0,0.25);
}
.section-portfolio .portfolio-list .portfolio-item .item-content:before {
  left: 0;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.section-portfolio .portfolio-list .portfolio-item .item-content:after {
  right: 0;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}
.section-portfolio .portfolio-list .portfolio-item .item-content:hover {
  text-decoration: none;
}
.section-portfolio .portfolio-list .portfolio-item .item-content:hover .item-icon {
  top: -18px;
}
.section-portfolio .portfolio-list .portfolio-item .item-content .item-img {
  width: 100%;
  min-height: 159px;
}
.section-portfolio .portfolio-list .portfolio-item .item-content .item-icon {
  display: block;
  position: relative;
  top: -12px;
  margin: 0 auto;
  background: #fcfaf7;
  color: #828c8e;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  -o-transition: top 0.2s ease;
  -ms-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
.section-portfolio .portfolio-list .portfolio-item .item-content .item-icon:before {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 20px;
}
.section-portfolio .portfolio-list .portfolio-item .item-content .item-caption {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: -12px 0 10px;
}
.section-portfolio .portfolio-discovery {
  text-align: center;
  padding-bottom: 26px;
}
.section-portfolio .portfolio-discovery .discovery-btn {
  background: transparent;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-family: 'Oswald Bold';
  padding: 6px 0 0;
  position: relative;
}
.section-portfolio .portfolio-discovery .discovery-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #383a3c;
  -webkit-transform: scaleX(0.6);
  -moz-transform: scaleX(0.6);
  -o-transform: scaleX(0.6);
  -ms-transform: scaleX(0.6);
  transform: scaleX(0.6);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.section-portfolio .portfolio-discovery .discovery-btn:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.section-about .about-content {
  margin: 24px -10px 16px;
}
.section-about .about-content .about-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0 10px;
}
.section-about .about-content .about-row .about-block {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
}
.section-about .about-content .about-row .about-block.left-border {
  border-left: 2px #383a3c solid;
}
.section-about .about-content .about-row .about-block.left-border:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  width: 2px;
  background: #383a3c;
}
.section-about .about-content .about-row .about-block.justify {
  text-align: justify;
}
.section-about .about-content .about-row .about-block:nth-child(even) {
  margin-left: 8.33333333%;
}
.section-about .about-content .about-row .about-block .block-title {
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Bazar';
  text-transform: uppercase;
}
.section-about .about-content .about-row .about-block .block-title .highlighted {
  color: #ad4d32;
  font-size: 24px;
}
.section-about .about-content .about-row .about-block .paragraph.with-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.section-about .about-content .about-row .about-block .paragraph.quote {
  font-family: 'Oswald';
  font-size: 16px;
  font-style: italic;
}
.section-about .about-content .about-row .about-block .paragraph:first-child {
  margin-top: 7px;
}
.section-about .about-content .about-row .about-block .paragraph .icon {
  min-width: 32px;
  max-height: 28px;
  font-size: 24px;
}
.section-about .about-content .about-row .about-block .paragraph .icon.fa-skype {
  font-size: 32px;
}
.section-about .about-content .about-row .about-block .paragraph .text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 6px;
}
.section-about .about-content .about-row .about-block .paragraph .text .link {
  color: #383a3c;
}
.section-about .about-content .about-row .about-block .paragraph .text .link:hover {
  text-decoration: underline dotted;
}
.section-about .about-content .about-row .bolder {
  font-family: 'Oswald Bold';
}
@media (max-width: 768px) {
  .section-about .about-content .about-row {
    display: block;
  }
  .section-about .about-content .about-row .about-block {
    margin: 0 8.33333333%;
  }
}
