<div id="sectionAbout" class="section-about">
  <div class="section-heading">
    <h2 class="section-title">{{ rhytheme.about.title }}</h2>
    <div class="section-separator">
      <span class="solid-line">×××</span>
    </div>
    <div class="section-subtitle">
      {{ rhytheme.about.subtitle }}
    </div>
  </div>
  <div class="about-content">
    <div class="about-row">
      <div class="about-block left-border">
        <h4 class="block-title">
          Hello guys, I am <span class="highlighted">Thien, Truong Tich</span></h4>
      </div>
    </div>
    <div class="about-row">
      <div class="about-block left-border justify">
        <p class="paragraph">
          <span class="bolder">Skills // </span>AngularJS, Angular2, Durandal, NodeJS, Express, MongoDB, Bootstrap,
          HTML, CSS, Javascript, PHP, Java, C/C++, SQL, WebStorm, Adobe Dreamweaver, Eclipse, NetBean, Selenium
          WebDriver.
        </p>
      </div>
      <div class="about-block left-border">
        <p class="paragraph with-icon">
          <i class="icon glyphicon glyphicon-phone-alt"></i>
          <span class="text">
            <span class="bolder">Telephone // </span>(+84) 906-661425</span>
        </p>
        <p class="paragraph with-icon">
          <i class="icon fa fa-envelope"></i>
          <span class="text">
            <span class="bolder">E-mail // </span>
            <a class="link" href="mailto:truongtichthien0401@gmail.com">truongtichthien0401@gmail.com</a></span>
        </p>
        <p class="paragraph with-icon">
          <i class="icon fa fa-skype"></i>
          <span class="text">
            <span class="bolder">Skype // </span>tichthien.truong</span>
        </p>
        <!--<p class="paragraph with-icon">-->
        <!--<i class="icon fa fa-address-card"></i>-->
        <!--<span class="text">-->
        <!--<span class="bolder">Address // </span>155/4, Lai Thieu, Thuan An, Binh Duong, Viet Nam</span>-->
        <!--</p>-->
      </div>
    </div>
    <div class="about-row">
      <div class="about-block left-border justify">
        <p class="paragraph quote">
          “The greatest project you'll ever work on is you.” - Unknown
        </p>
        <p class="paragraph quote">
          “Never give up on a dream just because of the time it will take to accomplish it. The time will pass anyway.”
          - Earl Nightingale
        </p>
      </div>
    </div>
  </div>
  <div class="about-social">

  </div>
</div>