<!DOCTYPE html>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Rhytheme</title>
  <!--<title>{{ 'rhytheme' | i18next }}</title>-->
  <meta name="description" content="Rhytheme Portfolio">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

  <!--include ti-components module's required files-->
  <link rel="stylesheet" href="scripts/components/ti-full-screen/style.css">

  <!--include rhytheme module's required files-->
  <link rel="stylesheet" href="scripts/app/rhytheme/style.css">
  <link rel="stylesheet" href="scripts/app/httk/style.css">
</head>
<body ng-cloak="">

  <div rhytheme-app class="rhytheme-app"></div>

  <!--include libraries required files-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <!--<script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>-->

  <!--include angularjs framework's required files-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-vs-repeat/src/angular-vs-repeat.js"></script>

  <!--include ti-components module's required files-->
  <script src="scripts/components/config.js"></script>
  <script src="scripts/components/ti-full-screen/directive.js"></script>
  <script src="scripts/components/ti-tree-view/directive.tree.js"></script>
  <script src="scripts/components/ti-tree-view/directive.node.js"></script>

  <!--include rhytheme module's required files-->
  <script src="scripts/app/rhytheme/config.js"></script>
  <script src="scripts/app/rhytheme/directive.js"></script>
  <script src="scripts/app/rhytheme/controller.js"></script>
  <script src="scripts/app/rhytheme/decorator.portfolio.js"></script>
  <script src="scripts/app/rhytheme/decorator.about.js"></script>

  <!--include httk module's required files-->
  <!--<script src="scripts/modules/httk/config.js"></script>-->
  <!--<script src="scripts/modules/httk/directive.js"></script>-->
  <!--<script src="scripts/modules/httk/controller.js"></script>-->

  <!--bootstrap module-->
  <script src="scripts/app.index.js"></script>

</body>
</html>